<div class="container">
	<div class='row'>
			<header class="blog-header py-3">

					<div class="row flex-nowrap justify-content-around align-items-center">
						
						<!-- TITULO --!>	
						<div class="col text-center">
							<a class="blog-header-logo text-dark" href="/">Paróquia de São Raimundo Nonato</a>
						</div>
						<!-- TITULO --!>	

						<!-- MENU --!>	
						<div class="col-2 some_quando_grande">
							<button class="btn btn-light" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-autoClose="true">
								<img src="https://img.icons8.com/ios-glyphs/30/000000/menu--v1.png"/>
							</button>
							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownMenuButton2">
								<li><a class="dropdown-item active" href="#">Arquivos</a></li>
								<li><a class="dropdown-item" href="#">Sobre</a></li>
								<li><a class="dropdown-item" href="#">Contatos</a></li>
							</ul>
						</div>
						<!-- MENU --!>	

					</div>

			</header>
	</div>
</div>
